@import "../../scss";

.btn {
  font-size: 1.5rem;
  padding: 1.5rem 5rem;
  border-top-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  color: $white;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
  border: 0;
  cursor: pointer;
  &-main {
    background-color: $main-color;
  }
  &-second {
    background-color: $second-color;
  }
}