@import '../../../scss';

.champion {
  &-content {
    .swiper-backface-hidden .swiper-slide {
      width: 450px;
      opacity: 0;
      transform: translateX(200px);
      transition: all 0.5s;
      
    }
  }
  &.active {
    .swiper-backface-hidden .swiper-slide {
      transform: translateX(0);
      opacity: 1;
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          transition-delay: $i * 0.5s;
        }
      }
    }
  }
}